<section class="details">
  <div class="container">
    <h1>Tell us more about you</h1>

    <form role="form">
     <div class="form-group">
       <label for="age">Age</label>
       <input type="text" name="age" ng-model="user.details.age">
     </div>

     <div class="form-group">
       <label for="zipcode">Zipcode</label>
       <input type="text" name="zipcode" ng-model="user.details.zipcode">
     </div>

      <a href="/results" type="button" class="btn btn-default">Finish Up</a>
    </form>
  </div>
</section>



