<section class="masthead">
  <div class="container">
    <h1>Gyde</h1>
    <p class="lead">Let us help you pick a health insurance plan.</p>
    <a href="/priorities" type="button" class="btn btn-default">Get Started</a>
  </div>
</section>

<section class="additional-info">
  <div class="container">
    <h2>What is this?</h2>

    <p>
      Additional info can go here. Sed sollicitudin, magna id tempus tempor, turpis libero aliquam quam, ac vehicula ante massa a sem.
    </p>

    <p>
      Cras erat orci, porttitor vel congue sed, blandit nec leo. Proin lobortis semper sapien.
    </p>

    <p>
      Fusce semper porttitor placerat. Cras sed dui est. Suspendisse bibendum auctor mauris, in accumsan elit. Mauris rhoncus neque id dapibus consequat.
    </p>
  </div>
</section>

