<section class="priorities">
  <div class="container">
    <h1>Priorities</h1>

    <h2>Select all that apply</h2>

    <form role="form">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.priorities.saveMoney"> Save money
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.priorities.betterCoverage"> Better coverage
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.priorities.specificDoctor"> Specific doctor
        </label>
      </div>

      <a href="/conditions" type="button" class="btn btn-default">Next</a>
    </form>
  </div>
</section>


