<section class="provider">
  <div class="container">
    <h1>Insurance provider</h1>

    <h2>Who is your insurance provider?</h2>

    <form role="form">
      <div class="radio">
        <label>
          <input type="radio" name="provider" value="none" ng-model="user.provider" checked>
          None
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="provider" value="kaiser" ng-model="user.provider">
          Kaiser
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="provider" value="blue-cross" ng-model="user.provider">
          Blue Cross
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="provider" value="health-net" ng-model="user.provider">
          Health Net
        </label>
      </div>

      <a href="/priorities" type="button" class="btn btn-default">Next</a>
    </form>
  </div>
</section>


